# Unitat 4

Activitat  1.2 del notebook

1.2. Activitat

A) Del fitxer WHO.csv, crea un nou dataframe que contengui les columnes: 4,10-39,90,120-123
i guarda'l a un nou fitxer CSV anomenat _mini_who.csv_

In [3]:
import pandas as pd
df = pd.read_csv("../../lessons/data/WHO.csv") #alerta amb la ruta

In [6]:
seleccio = [4]+list(range(10,39))+[90]+list(range(120,123))
dfs = df.iloc[:,seleccio]
dfs.head()

,Adult literacy rate (%),Population in urban areas (%),Population living below the poverty line (% living on &lt; US$1 per day),Population median age (years),Population proportion over 60 (%),Population proportion under 15 (%),Registration coverage of births (%),Total fertility rate (per woman),Antenatal care coverage - at least four visits (%),Antiretroviral therapy coverage among HIV-infected pregt women for PMTCT (%),...,Tuberculosis detection rate under DOTS (%),Tuberculosis treatment success under DOTS (%),Women who have had mammography (%),Women who have had PAP smear (%),Community and traditional health workers density (per 10 000 population),Dentistry personnel density (per 10 000 population),Measles immunization coverage among one-year-olds ratio highest-lowest wealth quintile,Deaths due to tuberculosis among HIV-negative people (per 100 000 population),Deaths due to tuberculosis among HIV-positive people (per 100 000 population),Healthy life expectancy (HALE) at birth (years) both sexes
0,28.0,23.0,NaN,16.0,4.0,47.0,6.0,7.2,NaN,NaN,...,66.0,90.0,NaN,NaN,NaN,NaN,NaN,32.0,0.0,36.0
1,98.7,46.0,2.0,29.0,13.0,26.0,90.0,2.1,NaN,NaN,...,37.0,77.0,NaN,NaN,NaN,3.0,NaN,3.0,NaN,61.0
2,69.9,64.0,NaN,24.0,7.0,29.0,90.0,2.4,41.0,NaN,...,102.0,87.0,NaN,NaN,NaN,3.0,NaN,2.0,0.0,61.0
3,NaN,93.0,NaN,NaN,22.0,14.0,90.0,1.3,NaN,NaN,...,125.0,80.0,NaN,NaN,NaN,7.0,NaN,2.0,NaN,72.0
4,67.4,54.0,NaN,17.0,4.0,46.0,29.0,6.5,NaN,14.0,...,76.0,72.0,NaN,NaN,NaN,NaN,NaN,27.0,2.0,33.0

In [7]:
dfs.to_csv("../../lessons/data/mini_who.csv") #Alerta amb la ruta

B) Donat el següent dataframe, una versió molt simplificada de `WHO` per poder comprovar les operacions:

In [8]:
import pandas as pd

# cream un diccionari amb les dades
data = {'País': ['Estados Unidos', 'China', 'Japón', 'Alemania', 'Reino Unido', 'India', 'Francia', 'Italia', 'Brasil', 'Canadá'],
        'PIB (billones de dólares)': [21.44, 15.54, 5.15, 4.17, 2.62, 2.61, 2.58, 1.93, 1.67, 1.65],
        'Inflación (%)': [1.8, 2.9, 0.2, 1.6, 2.2, 5.0, 1.2, 0.9, 3.7, 1.8],
        'Tasa de desempleo (%)': [3.7, 3.6, 2.9, 3.2, 3.8, 6.6, 8.1, 10.0, 13.9, 5.6],
        'Índice de competitividad': [85.6, 83.1, 82.5, 80.9, 78.9, 64.4, 78.0, 70.3, 59.5, 77.2]}

# cream el dataframe
df_economia = pd.DataFrame(data)

1. Afegeix una columna al dataframe que sigui la població de cada país segons la següent llista: `poblacion = [328.2, 1393, 126.5, 83.2, 66.9, 1380, 66.99, 60.3, 212.6, 38.1]`
2. Afegir una columna addicional que calculi el PIB per càpita per a cada país en dòlars dividint el PIB de cada país per la població.
3. Seleccionar els països amb una tasa d'atur major a 8.0.
4. Eliminar els països anteriorment seleccionats.

In [9]:
# 1
df_economia["Poblacion"]=[328.2, 1393, 126.5, 83.2, 66.9, 1380, 66.99, 60.3, 212.6, 38.1]
df_economia.head()

,País,PIB (billones de dólares),Inflación (%),Tasa de desempleo (%),Índice de competitividad,Poblacion
0,Estados Unidos,21.44,1.8,3.7,85.6,328.2
1,China,15.54,2.9,3.6,83.1,1393.0
2,Japón,5.15,0.2,2.9,82.5,126.5
3,Alemania,4.17,1.6,3.2,80.9,83.2
4,Reino Unido,2.62,2.2,3.8,78.9,66.9

In [12]:
#2
df_economia["PIBxCapita"] = df_economia["PIB (billones de dólares)"]/df_economia["Poblacion"]
df_economia.head()

,País,PIB (billones de dólares),Inflación (%),Tasa de desempleo (%),Índice de competitividad,Poblacion,PIBxCapita
0,Estados Unidos,21.44,1.8,3.7,85.6,328.2,0.065326
1,China,15.54,2.9,3.6,83.1,1393.0,0.011156
2,Japón,5.15,0.2,2.9,82.5,126.5,0.040711
3,Alemania,4.17,1.6,3.2,80.9,83.2,0.050120
4,Reino Unido,2.62,2.2,3.8,78.9,66.9,0.039163

In [14]:
#3
df_economia[df_economia['Tasa de desempleo (%)']>8.0]
#o
df_economia[df_economia[df_economia.columns[3]]>8.0]

,País,PIB (billones de dólares),Inflación (%),Tasa de desempleo (%),Índice de competitividad,Poblacion,PIBxCapita
6,Francia,2.58,1.2,8.1,78.0,66.99,0.038513
7,Italia,1.93,0.9,10.0,70.3,60.30,0.032007
8,Brasil,1.67,3.7,13.9,59.5,212.60,0.007855

In [17]:
#4  Eliminar els països anteriorment seleccionats.
ix = df_economia[df_economia[df_economia.columns[3]]>8.0].index
df_nou = df_economia.drop(ix)
df_nou.shape

(7, 7)

C) Del fitxer presupuesto_ingresos_2023.csv, pots trobar el total de crèdit (un sumatori de la darrera columna): "HASIERAKO KREDITUA/CREDITO INICIAL 2023"?

In [43]:
df_gastos = pd.read_csv("../../lessons/data/presupuesto_gastos_2023.csv",delimiter=";",encoding="cp1250") #alerta amb la ruta

print(df_gastos["HASIERAKO KREDITUA/CREDITO INICIAL 2023"][:5]) #Alerta! No és una sèrie de numeros!! Son objectes!!! 

# Format actual:  '220.619,00' és un string
# Nou format: '220619.00' hem de crear un string molt més proper a un numero per fer una conversio de tipus

credito = df_gastos["HASIERAKO KREDITUA/CREDITO INICIAL 2023"].str.replace(".","")
print(credito[:5])

credito = credito.str.replace(",",".")
print(credito[:5])

credito = credito.astype(float)
print(credito[:5])

print("Solució")
credito.sum()

# O 
# df_gastos["HASIERAKO KREDITUA/CREDITO INICIAL 2023"].str.replace(".","").str.replace(",",".").astype(float).sum()

0    220619,00
1    589261,00
2    383369,00
3    131722,00
4    396609,00
Name: HASIERAKO KREDITUA/CREDITO INICIAL 2023, dtype: object
0    220619.00
1    589261.00
2    383369.00
3    131722.00
4    396609.00
Name: HASIERAKO KREDITUA/CREDITO INICIAL 2023, dtype: object
0    220619.0
1    589261.0
2    383369.0
3    131722.0
4    396609.0
Name: HASIERAKO KREDITUA/CREDITO INICIAL 2023, dtype: float64
Solució

/var/folders/6j/7gfvt_29797dypw8t1wttblw0000gn/T/ipykernel_38479/3204483580.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  credito = df_gastos["HASIERAKO KREDITUA/CREDITO INICIAL 2023"].str.replace(".","")
/var/folders/6j/7gfvt_29797dypw8t1wttblw0000gn/T/ipykernel_38479/3204483580.py:22: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_gastos["HASIERAKO KREDITUA/CREDITO INICIAL 2023"].str.replace(".","").str.replace(",",".").astype(float).sum()

663500000.0

D) Donat els dos següents dataframes, es demana: 
- calcula la quantitat d'ajuda rebuda per cada municipi en funció del nombre total d'habitants.

In [44]:
import pandas as pd
import random

random.seed(0)

nombres = [f'Municipio{i}' for i in range(1, 11)] 

data_municipios = {
    'Nombre': nombres,
    'Código Postal': [random.randint(10000, 99999) for _ in range(10)],
    'Población': [random.randint(1000, 50000) for _ in range(10)]  # Añadimos un atributo aleatorio, en este caso "Población"
}

df_municipios = pd.DataFrame(data_municipios)


data_ayudas = {
    'Nombre': [random.choice(nombres) for _ in range(20)],
    'Ayuda Económica (en euros)': [random.randint(1000, 10000) for _ in range(20)],
    'Número de Beneficiarios': [random.randint(10, 100) for _ in range(20)]
}

df_ayudas = pd.DataFrame(data_ayudas)

print("Dataframe de Municipios:")
print(df_municipios)

print("\nDataframe de Ayudas:")
print(df_ayudas)

Dataframe de Municipios:
        Nombre  Código Postal  Población
0   Municipio1          60494      39232
1   Municipio2          65125      15315
2   Municipio3          15306      34075
3   Municipio4          43936      10127
4   Municipio5          77013      19470
5   Municipio6          73691      10158
6   Municipio7          63075       7214
7   Municipio8          49755      41525
8   Municipio9          72468      17417
9  Municipio10          56930      35902

Dataframe de Ayudas:
         Nombre  Ayuda Económica (en euros)  Número de Beneficiarios
0   Municipio10                        9989                       72
1    Municipio3                        1230                       23
2    Municipio5                        2528                       48
3    Municipio2                        7534                       80
4    Municipio2                        1018                       47
5    Municipio6                        9086                      100
6    Municipio8                        6458                       25
7    Municipio9                        4996                       80
8    Municipio2                        6328                       52
9    Municipio6                        2031                       79
10   Municipio7                        4130                       36
11   Municipio6                        4632                       87
12  Municipio10                        4909                       80
13   Municipio4                        3334                       85
14   Municipio9                        9896                       46
15   Municipio8                        8339                       66
16   Municipio8                        2494                       21
17   Municipio9                        2318                       86
18   Municipio5                        6243                       59
19   Municipio1                        9322                       50

In [45]:
## Solucio fent sevir GROUPBY
dfg = df_ayudas.groupby("Nombre").agg({'Ayuda Económica (en euros)':sum})

In [46]:
dfg

             Ayuda Económica (en euros)
Nombre
Municipio1                         9322
Municipio10                       14898
Municipio2                        14880
Municipio3                         1230
Municipio4                         3334
Municipio5                         8771
Municipio6                        15749
Municipio7                         4130
Municipio8                        17291
Municipio9                        17210

In [48]:
dfnou = df_municipios.merge(dfg,left_on="Nombre",right_index=True) # Fem servir l'índex del dataframe de la dreta per la unió
dfnou

        Nombre  Código Postal  Población  Ayuda Económica (en euros)
0   Municipio1          60494      39232                        9322
1   Municipio2          65125      15315                       14880
2   Municipio3          15306      34075                        1230
3   Municipio4          43936      10127                        3334
4   Municipio5          77013      19470                        8771
5   Municipio6          73691      10158                       15749
6   Municipio7          63075       7214                        4130
7   Municipio8          49755      41525                       17291
8   Municipio9          72468      17417                       17210
9  Municipio10          56930      35902                       14898

In [50]:
dfnou["ratio"] = dfnou["Ayuda Económica (en euros)"]/dfnou["Población"]
dfnou

        Nombre  Código Postal  Población  Ayuda Económica (en euros)     ratio
0   Municipio1          60494      39232                        9322  0.237612
1   Municipio2          65125      15315                       14880  0.971596
2   Municipio3          15306      34075                        1230  0.036097
3   Municipio4          43936      10127                        3334  0.329219
4   Municipio5          77013      19470                        8771  0.450488
5   Municipio6          73691      10158                       15749  1.550404
6   Municipio7          63075       7214                        4130  0.572498
7   Municipio8          49755      41525                       17291  0.416400
8   Municipio9          72468      17417                       17210  0.988115
9  Municipio10          56930      35902                       14898  0.414963

F) Substituïx la variable *df2* del següent codi per la variable de l'anterior activitat E

In [54]:
import pandas as pd

data = {
    'Municipio': [f'Municipio{i}' for i in range(1, 11)],
    'Latitud': [39.5696, 39.5437, 39.5690, 39.8531, 39.4942, 39.8776, 39.7680, 39.4696, 39.3532, 39.7204],
    'Longitud': [2.6502, 2.5110, 3.2096, 3.1250, 2.8730, 3.0154, 2.7152, 3.1502, 3.1544, 2.9070]
}

df2 = pd.DataFrame(data)
print(df2)

     Municipio  Latitud  Longitud
0   Municipio1  39.5696    2.6502
1   Municipio2  39.5437    2.5110
2   Municipio3  39.5690    3.2096
3   Municipio4  39.8531    3.1250
4   Municipio5  39.4942    2.8730
5   Municipio6  39.8776    3.0154
6   Municipio7  39.7680    2.7152
7   Municipio8  39.4696    3.1502
8   Municipio9  39.3532    3.1544
9  Municipio10  39.7204    2.9070

In [55]:
import folium # funciona aquesta llibrería a Google Colab? es necessari la seva instal·lació?
from folium import plugins #una altra manera de incloure components especifics d'una llibreria


df3 = df2.merge(df_ayudas,left_on="Municipio",right_on="Nombre")
mostres = df3[["Latitud","Longitud"]].values 

print(mostres[:3])

m = folium.Map(location=[39.550743977879726, 2.943255234860999],zoom_start=10) 
m.add_child(plugins.HeatMap(mostres, radius=15))
m

[[39.5696  2.6502]
 [39.5437  2.511 ]
 [39.5437  2.511 ]]